body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 12%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2a2e4c;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-left: 2rem;
  color: white;
}

/* LOGIN */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

/* SIGNUP */
.signup {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.signup-form {
  display: inline-block;

  text-align: left;
}

/* project cards */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  height: 200px;
}

.project-card {
  list-style: none;
}

/* Main Page */
.table-block {
  /* display: inline; */
  /* position: fixed; */
  width: 10px;
  height: 10px;
  background-color: #7fcbd7;
  margin: 5px;
  color: #7fcbd7;
}

/* .table-block {
} */
