html {
  margin: none;
  padding: 0;
}
body {
  font-family: "Dank Mono", ui-monospace, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  margin-left: 15%;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home */

.home-btn {
  position: relative;
  /* margin: auto; */
  width: 500px;
  display: flex;
  margin: auto;
  margin-top: 20%;
  /* margin-left: 28%; */
}

.nav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2a2e4c;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item {
  font-size: x-large;
  list-style: none;
  margin-left: 10%;
  padding: 20px;
  color: white;
}

/* LOGIN  & Signup */
.login {
  margin-top: 5%;
  margin-left: 30%;
  position: fix;
  height: 600px;
  width: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}

.signup {
  margin-top: 5%;
  margin-left: 30%;
  position: fix;
  height: 800px;
  width: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}

.logo {
  font-size: 70px;
  color: #01a7f2;
  margin: auto;
}

.login-label,
.login-input,
.login-btn,
.signup-btn {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.login-label {
  text-align: left;
  margin-bottom: 4px;
}

.login-label:nth-of-type(2) {
  margin-top: 12px;
}

.login-input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cdced1, inset -6px -6px 6px white;
}

.login-btn,
.signup-btn {
  color: white;
  margin-top: 30px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cdced1, -6px -6px 6px white;
  transition: 0.5s;
}

.login-btn:hover,
.signup-btn:hover {
  box-shadow: none;
}

.login-name {
  top: 0;
  left: 0;
}

/* projects */
.welcome-container {
  margin: auto;
  margin-top: 5%;
}

/* team-members */
.member-form-container {
  width: 400px;
  margin: auto;
}

.member-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.member-card {
  display: flex;
  list-style: none;
  position: relative;
  height: 100px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}

.member-card-inner {
  height: 150px;

  display: flex;
  justify-content: space-between;
}

.member-card-details {
  padding: 15px;
}

.member-profile {
  box-sizing: border-box;
  padding: 30px;
  margin-left: 36%;
  width: 370px;
  height: 200px;
  display: flex;
  box-shadow: 6px 6px 6px #cdced1, -6px -6px 6px white;
}

.member-profile-item {
  font-size: 40px;
  padding: 20px;
  margin-top: 20px;
}
.project-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.project-card {
  list-style: none;
  margin: auto;
  position: relative;
  height: 300px;
  width: 200px;
  border-radius: 20px;
  padding: 40px;
  margin: 10px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}
.report {
  /* position: relative; */
}

.issue-container {
  justify-content: center;
  width: 100px;
  margin-left: 45%;
}

.report-container {
  margin: 10px;
  justify-content: center;

  display: flex;
  width: 100%;
}
.report-item {
  width: 50%;
  margin: 30px;
  margin-left: 40px;
}

.project-btn {
  margin: auto;
  display: block;
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  color: white;
  margin-top: 30px;
  background: #1da1f2;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cdced1, -6px -6px 6px white;
  transition: 0.5s;
}

/* Main Page */
.table-block {
  /* display: inline; */
  /* position: fixed; */
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  background-color: #7fcbd7;
  border-radius: 5px;
  color: #7fcbd7;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(198, 247, 255), -3px -3px 3px white;
}
.table-block-today {
  /* display: inline; */
  /* position: fixed; */
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  background-color: #ebe70b;
  border-radius: 5px;
  color: #e1df41;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgb(198, 247, 255), -3px -3px 3px white;
}

.table-block-blank {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  background-color: #ecf0f3;
  border-radius: 5px;
  color: #ecf0f3;
  box-sizing: border-box;
}

.table-block-red {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  background-color: #cf8b60;
  border-radius: 5px;
  color: #cf8b60;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #dda785, -3px -3px 3px white;
}

.table-first-column {
  white-space: nowrap;
  width: 10px;
}

.first-column {
  background-color: #28b78d;
}

/* Project Form */

.project {
  margin-top: 5%;
  margin-left: 30%;
  position: relative;
  height: 600px;
  width: 350px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}

.project-form-label,
.project-form-input,
.project-form-description,
.project-form-dayPicker,
.project-form-btn,
.project-form-addMember-btn {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.project-form-label {
  text-align: left;
  margin-bottom: 4px;
}

.project-form-input:nth-of-type(2) {
  margin-top: 12px;
}

.project-form-input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cdced1, inset -6px -6px 6px white;
}
/* checkbox */
.project-form-checkbox {
  display: block;
  width: 20%;
  margin: auto;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #cdced1, inset -6px -6px 6px white;
}
.project-form-checkbox:nth-of-type(2) {
  margin-top: 12px;
}

.project-form-dayPicker {
  background: #7dc5f2;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: inset 6px 6px 6px #9ea3b3, inset -6px -6px 6px #99cded;
}

.project-form-btn,
.project-form-addMember-btn {
  color: white;
  margin-top: 30px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cdced1, -6px -6px 6px white;
  transition: 0.5s;
}

.project-form-btn:hover,
.project-form-addMember-btn:hover {
  box-shadow: none;
}

.header-btn {
  border-radius: 10px;
  color: white;
  background: #5eb6ec;
  border: none;
  font-weight: 900;
}

.project-name {
  top: 0;
  left: 0;
}

.picker {
  grid-column: 5/10;
  grid-row: 2/4;
  background: cornflowerblue;
}

.issue {
  margin-top: 5%;
  margin-left: 10%;
  position: relative;
  height: 700px;
  width: 700px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}
.issue-form {
  margin-top: 5%;
  margin-left: 30%;
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cdced1, -14px -14px 20px white;
}

.edit-btn {
  margin: 5px;
  background: #7fcbd7;
}

.remove-btn {
  margin: 5px;
  background: #f39595;
  border-radius: 3px;
}
.remove-issue-btn {
  margin: 30px;
  background: #f39595;
  border-radius: 3px;
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.member {
  margin: auto;
  padding: 10px;
}

/* cube */
.home {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-left: -200px;
  margin-top: -10px;
  margin-right: -100px;
  background: rgba(255, 114, 96, 1);
  background: linear-gradient(
    45deg,
    rgba(255, 114, 96, 1) 0%,
    rgba(255, 114, 96, 1) 14%,
    rgba(252, 210, 113, 1) 54%,
    rgba(252, 210, 113, 1) 61%,
    rgba(102, 176, 102, 1) 93%,
    rgba(96, 135, 134, 1) 100%
  );
}

.wrapper {
  width: 100%;
  perspective: 800;
}

.cube {
  position: relative;
  top: 160px;
  margin: 0 auto;
  height: 200px;
  width: 200px;

  animation: spin 20s infinite linear;
  transform-style: preserve-3d;
}

@keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}

.cube > div {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid #333;
  opacity: 0.8;
}

.cube > div:hover {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.one {
  transform: rotateX(90deg) translateZ(100px);
  background-color: brown;
}

.two {
  transform: translateZ(100px);
  background-color: blueviolet;
}

.three {
  transform: rotateY(90deg) translateZ(100px);
  background-color: cadetblue;
}

.four {
  transform: rotateY(180deg) translateZ(100px);
  background-color: chocolate;
}

.five {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: cyan;
}

.six {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: #feeb51;
}

.title {
  padding-top: 5%;
  min-block-size: 60px;
  min-inline-size: 60px;
  box-sizing: border-box;
  display: grid;
  position: relative;
  place-content: center;
  font-family: system-ui;
  font-size: min(50%, 5vmin);
  flex-wrap: wrap;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.title-letters {
  font-size: 30px;
  line-height: 1.1;
}

.header-container {
  display: flex;
  justify-content: start;
  width: 600px;
  margin: 3%;
}
.project-info {
  margin-left: 100px;
}
.project-name {
  font-size: 30px;
}
